<label for="solution">Solution: </label>
<select id="solution">
    <option value="0">Non-Solution</option>
    <option value="1">Solution 1</option>
    <option value="2">Solution 2</option>
</select>
<br>
<label for="duration-input">Duration (µs): </label>
<input type="number" id="duration-input" placeholder="0">
<br>
<label for="sleep-input">Sleep (µs): </label>
<input type="number" id="sleep-input" placeholder="0">
<br>
<label for="num-phils">Philosophers:</label>
<input type="number" id="num-phils" placeholder="0">
<br>
<label for="anim-dur">Animation Duration (ms):</label>
<input type="number" id="anim-dur" placeholder="0">
<br>
<label for="start-at">Start at:</label>
<input type="number" id="start-at" placeholder="0">
<br>
<button mat-raised-button id="run-button" (click)="runDP()">Run</button>
<button mat-raised-button id="clear-button" (click)="clear()">Clear</button>
<button mat-raised-button id="play-button" (click)="playStates()">Play</button>
<button mat-raised-button id="back-button" (click)="back()">Back</button>
<button mat-raised-button id="step-button" (click)="forward()">Forward</button>
<table id="state-table">
    <thead id="state-table-header">
        <th>Philosopher</th>
        <th>State</th>
        <th>Times Thinking</th>
        <th>Times Hungry</th>
        <th>Times Eating</th>
    </thead>
</table>
<div id="svg-container"></div>
<ol id="list" reversed></ol>