<div *ngFor="let run of runs">
    <div>Time: {{run.getTimestamp()}}</div>
    <div>Philosophers: {{run.getNumphilosophers()}}</div>
    <div *ngFor="let philosopher of run.getStatsList()">
        <div>
            Number: {{philosopher.getPhilosophernumber()}}
            Cycles: {{philosopher.getCycles()}}
            AvgHungry: {{philosopher.getAvghungry()}}
            AvgEating: {{philosopher.getAvgeating()}}
            AvgThinking: {{philosopher.getAvgthinking()}}
        </div>
    </div>
    <hr>
</div>